// Typography

small {
	font-size: 0.625rem;
}

.dash {
	display: inline-block;
	width: rem(12);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid $aqua;
	margin: rem(10) 0 rem(8);
}

// Links
a {
	color: $aqua;

	&:hover {
		color: $medium-grey;
	}
}

.link {
	text-decoration: none;
	text-transform: uppercase;

	&:after {
		position: relative;
		@include Icons;
	}
}

.link--arrow {

	&:after {
		content: "\f105";
		margin-left: 4px;
	}
}

.link--arrowCircled {

	&:after {
		@include Icons;
		content: "\e600";
		margin-left: 6px;
		top: 2px;
	}
}

.link--plusCircled {
	color: $black;
	line-height: 24px;

	&:after {
		content: "\e602";
		border: 1px solid #959595;
		border-radius: 50%;
		font-size: 11px;
		padding: 5px;
		margin-left: rem(8);
		transition: all .5s ease;
	}

	&.active {
		&:after {
			content: "\e604";
			transform: rotate(360deg);
		}
	}

	&:hover {
		color: $black;
	}
}

.monospace {
	font-family: monospace;
}

.copy--large {
	font-size: rem(16);
}

.copy--medium {
	font-size: rem(14);
}

.copy--small {
	font-size: rem(12);
}

.copy--copywrite {
	font-size: rem(10);
}

.module {
	h1,h2,h3,h4,h5,h6 {
		text-transform: uppercase;
	}
}

b,strong {
	font-weight: 700;
}