## Let's ignore production css
**/*.css

## Bower Components
bower_components

## Node stuff
node_modules
npm-debug.log

## Sublime Text project files
*.sublime-workspace

## SASS stuff to ignore
.sass-cache
*.css.map

## General CodeKit files to ignore
config.codekit
/min

**/.DS_Store

## Ignore procedurally generated items
pattern-library/**/frontend.js
pattern-library/**/frontend.min.js
pattern-library/**/sprites.svg

## Ignore build directory
pattern-library/build
