## Let's ignore production css
.css

## Bower Components
bower_components

## Node stuff
node_modules
npm-debug.log

## Sublime Text project files
*.sublime-workspace

## SASS stuff to ignore
.sass-cache
*.css.map

## General CodeKit files to ignore
config.codekit
/min