.buttonsLinks {
	background: #efefef;

	h4 {
		padding-bottom: .5rem;
	}
}

.buttons {
	margin: 0 0 2rem;
}

.buttons--background {
	background: url("../images/hero-bikers.jpg") no-repeat 50% 50%;
	background-size: cover;
	padding: 1rem;

	h4 {
		color: $white;
	}
}