// styles exclusive to pattern library

//header
header {
	position: relative;
	min-height: 200px;
	background: url("../images/hero-ocean.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: $white;

	h1 {
		font-size: 2.8rem;
		text-align: center;
		padding-top: 65px;

		span {
			@include CoreSansCN;
			display: block;
			font-size: 2rem;
		}
	}
}

//sections
.section--fluid {
	padding: 0;
}

section {
	padding: 0 1rem 4rem;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		background: $black;
		height: 60px;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}

	> h4:first-of-type {
		position: relative;
		color: white;
		line-height: 60px;
		margin-bottom: 60px;
		z-index: 1;
		padding-left: 60px;

		@include breakpoint(md) {
			padding-left: 95px;
		}
	}
}

@import "colors";

@import "buttons";

//i need to fix 

.modules__heading {
	background: $aqua;
	color: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;

	@include breakpoint(md) {
			padding-left: 95px;
	}
}

//modules styles that need to be ported into their own _modules.scss.
.module__heading {
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	&:after {
		content: " ";
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -6px; 
		width: 12px;
		border-bottom: 2px solid $aqua;
	}
}



.col-md-8 {
	padding: 30px;

	article {
		max-width: 80%;

		h2:after {
			content: " ";
			display: block;
			width: 14px;
			border-bottom: 2px solid $aqua;
			margin-top: 10px;
			margin-bottom: 20px;
		}
	}

	@include respond(978px) {
		padding: 75px;

		article {
			max-width: 60.937%;
		}
	}
}

.snowboarder {
	background: url("../images/snowboarder-case-t.jpg") no-repeat;
	background-size: cover;
	vertical-align: top;

	article {
		max-width: 49%;

		@include breakpoint(lg) {
			max-width: 31%;
		}
	}
}