// styles exclusive to pattern library

//header
header {
	position: relative;
	min-height: 200px;
	background: url("../images/hero-ocean.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: $white;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2.8rem;
		text-align: center;

		span {
			@include CoreSansCN;
			display: block;
			font-size: 2rem;
		}
	}
}

//sections
.section--fluid {
	padding: 0;
}

section {
	padding: 0 1rem 4rem;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		background: $black;
		height: 60px;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}

	> h4:first-of-type {
		position: relative;
		color: white;
		line-height: 60px;
		margin-bottom: 60px;
		text-transform: uppercase;
		z-index: 1;
		text-align: left;
		padding-left: 60px;

		@include respond(768px) {
			padding-left: 85px;
		}
	}
}

@import "colors";

@import "buttons";