section.typography {
	> div {

		@include respond(500px) {
			width: 50%;
			float: left;
		}
	}

	h1,h2,h3,h4,h5 {
		margin-bottom: 0;
	}

	.core-sans-regular {
		@include CoreSans();
	}

	.core-sans-bold {
		@include CoreSans-bold();
	}

	.core-sans-cn-regular {
		@include CoreSansCN();
	}

	.core-sans-cn-light {
		@include CoreSansCN-light();
	}

	.core-sans-cn-bold {
		@include CoreSansCN-bold();
	}
}