// Primary button
.btn {
	display: inline-block;
	cursor: pointer;
	@include CoreSansCN-bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: rem(3);
	text-align: center;
	vertical-align: middle;
	transition:
		font-size .4s ease,
		background-color .4s ease,
		border-color .4s ease,
		color .4s ease;
	border-width: 1px;
	border-style: solid;
	padding: rem(14) rem(20) rem(9) rem(20);
	background-color: $aqua;
	border-color: $aqua;
	color: $white;
	fill: $white;
	line-height: 1;

	&:hover {
		background-color: $blue;
		border-color: $blue;
		color: $white;
		fill: $white;
	}

	// Lowercase
	&.btn--lowercase {
		text-transform: none;
	}

	// Small
	&.btn--small {
		font-size: rem(14);
		padding: rem(10) rem(16) rem(7) rem(16);
	}

	// Wide
	&.btn--wide {
		padding-left: rem(60);
		padding-right: rem(60);
	}

	// Block
	&.btn--block {
		width: 100%;
	}

	// White
	&.btn--white {
		background-color: $white;
		border-color: $white;
		color: $black;
		fill: $black;

		&:hover {
			background-color: $black;
			border-color: $black;
			color: $white;
			fill: $white;
		}
	}

	// Black
	&.btn--black {
		background-color: $black;
		border-color: $black;
		color: $white;
		fill: $white;

		&:hover {
			background-color: $aqua;
			border-color: $aqua;
			color: $white;
			fill: $white;
		}
	}

	// Empty with black outline
	&.btn--emptyblack {
		background-color: rgba(0,0,0,0);
		border-color: $black;
		color: $black;
		fill: $black;

		&:hover {
			background-color: $aqua;
			border-color: $aqua;
			color: $white;
			fill: $white;
		}
	}

	// Empty with white outline
	&.btn--emptywhite {
		background-color: rgba(0,0,0,0);
		border-color: $white;
		color: $white;
		fill: $white;

		&:hover {
			background-color: $black;
			border-color: $black;
			color: $white;
			fill: $white;
		}
	}

	// Alternate background color (15% opacity)
	&.btn--alt {
		background-color: rgba(0,0,0,.15);
	}

	// SVG Icons
	svg.icon {
		width: 24px;
	  height: 24px;
	  position: relative;
	  top: -2px;
	  vertical-align: middle;
	}

	// For controlling opening and closing of drawers
	&.btn--closed {
		svg.closed { display: inline; }
		svg.opened { display: none; }
	}

	&.btn--opened {
		svg.opened { display: inline; }
		svg.closed { display: none; }
	}



}
