.slickDots--default, .slick-dots {
	height: rem(30);
	text-align: center;
	margin-top: rem(20);

	li {
		display: inline-block;
	}

	button {
		position: relative;
		font-size: 0;
		line-height: 0;
		display: block;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;
		height: auto;
		margin-left: rem(15);
		margin-right: rem(15);
		padding: rem(2) rem(6);

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: rem(16);
			height: rem(16);
			background: $dark-grey;
			border-radius: 50%;
			border-width: 2px;
			border-style: solid;
			border-color: transparent;
			content: "";
			text-align: center;
			vertical-align: middle;
			transition: border-color 0.4s ease, background-color 0.4s ease;
		}
	}

	.slick-active button {
		&:before {
			background: none;
			border-color: $aqua;
			padding: rem(8);
			margin-top: -2px;
		}
	}
}