.hidden {
	display: none;
}

.hidden--sm {
	display: none;

	@include breakpoint(md) {
		display: inherit;
	}
}

.hidden--md {
	display: none;

	@include breakpoint(lg) {
		display: inherit;
	}
}

.show--sm {
	display: inherit;

	@include breakpoint(md) {
		display: none !important;
	}
}

.show--md {
	display: inherit;

	@include breakpoint(lg) {
		display: none !important;
	}
}

.text {
	&--light {
		color: $white;
	}
	&--uppercase {
		text-transform: uppercase;
	}
	&--lowercase {
		text-transform: lowercase;
	}
	&--nowrap {
		white-space: nowrap;
	}
	&--weight400 {
		font-weight: 400;
	}
	&--left {
		text-align: left
	}
	&--center {
		text-align: center;
	}
	&--right {
		text-align: right;
	}
}

.block--center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}

.clearfix {
	@include clearfix;
}

.break--md {
	display: none;

	@include breakpoint(md) {
		display: block;
	}
}

//video specific to hide double play button on mobile
video::-webkit-media-controls {
	opacity: 0;
}

.show-controls::-webkit-media-controls {
	opacity: 1;
	transition: 8s;
}