.hidden {
	display: none;
}

.hidden--sm {
	display: none;

	@include breakpoint(md) {
		display: inherit;
	}
}

.row.hidden--sm {
	display: none;

	@include breakpoint(md) {
		display: table;
	}
}

.col.hidden--sm {
	display: none;

	@include breakpoint(md) {
		display: table-cell;
	}
}

.text--light {
	color: $white;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--lowercase {
	text-transform: lowercase;
}

.text--weight400 {
	font-weight: 400;
}

.block--center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}

.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.break--md {
	display: none;

	@include breakpoint(md) {
		display: block;
	}
}

video::-webkit-media-controls {
	opacity: 0;
}

.show-controls::-webkit-media-controls {
	opacity: 1;
	transition: 8s;
}