.module23split {
	@include clearfix;

	&__col3 {
		position: relative;
		text-align: center;
		padding-bottom: rem(32);

		img {
			display: block;

			@include breakpoint(md) {
				width: 100%;
			}
		}

		h4 {
			padding-bottom: rem(10);
		}

		li {
			padding-bottom: rem(10);
		}

		@include breakpoint(md) {
			padding-bottom: 0;

			article {
				position: absolute;
				top: 0;
				padding-top: rem(48);
				padding-left: rem(48);
				text-align: left;
				color: $white;
			}
		}

		@include breakpoint(lg) {
			float: left;
			width: 66.66%;

			article {
				padding-top: rem(70);
				padding-left: rem(95);
			}
		}
	}

	&__col2 {
		text-align: center;
		@include clearfix;

		.warranty {
			position: relative;
			padding: rem(20);

			svg {
				height: 50px;
			}
		}

		h4 {
			padding-top: rem(15);
			padding-bottom: rem(15);
			@include CoreSansCN-bold;
		}

		p {
			padding-bottom: rem(15);
		}

		.btn {
			margin-top: rem(16);

			@include breakpoint(md) {
				display: none;
			}
		}

		@include breakpoint(lg) {
			float: left;
			width: 33.33%;
		}
	}

	&__split {
		position: relative;
		padding-bottom: rem(32);

		@include breakpoint(md) {
			float: left;
			width: 50%;
			padding-bottom: 0;
		}

		@include breakpoint(lg) {
			float: none;
			width: 100%;
		}
	}
}