.module--drawer {
	background-color: $light-grey;
	color: $black;
	@include CoreSans();
	font-size: rem(16);
	padding: rem(24) 0 rem(24) 0;
	text-align: center;
	position: relative;

	svg.close {
		fill: #b9b9b9;
		width: 28px;
		height: 28px;
		position: absolute;
		right: rem(24);
		cursor: pointer;
		transition: fill 0.4s ease;

		&:hover {
			fill: darken(#b9b9b9, 15%);
		}
	}

	&.drawer--closed {
		display: none;
	}

	h2 {
		@include CoreSans();
		font-size: rem(24);
		text-transform: uppercase;
		margin-bottom: rem(24);
		position: relative;
	}

	> div > div {
		margin: 0 auto;
		display: inline-block;
		vertical-align: top;
	}

	> div > div:last-child ul:last-child {
		border-right-width: 0;
	}

	ul {
		float: none;
		text-align: left;
		border-color: $medium-grey;
		border-style: solid;
		padding: 20px rem(30) 20px rem(30);
		border-bottom-width: 1px;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom-width: 0;
		}

		@include respond(768px) {
			float: left;
			padding-top: 0;
			padding-bottom: 0;
			border-bottom-width: 0;
			border-right-width: 1px;

			&:before,
			&:after {
				content: " ";
				display: table;
			}

			&:after {
				clear: both;
			}
		}
	}

	a {
		color: $black;
		text-decoration: none;
		line-height: rem(30);

		&:hover {
			text-decoration: underline;
		}
	}
}