.module__heading {
	position: relative;
	width: 100%;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	&:after {
		content: " ";
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -6px;
		width: 12px;
		border-bottom: 2px solid $aqua;
	}
}