.module23split {
	@include clearfix;

	&__col3 {
		position: relative;
		text-align: center;
		padding-bottom: rem(32);

		img {
			display: block;
		}

		h4 {
			padding-bottom: rem(10);
		}

		li {
			padding-bottom: rem(10);
		}

		@include breakpoint(md) {
			padding-bottom: 0;

			article {
				position: absolute;
				top: 0;
				padding-top: rem(48);
				padding-left: rem(48);
				text-align: left;
				color: $white;
			}
		}

		@include breakpoint(lg) {
			float: left;
			width: 66.66%;

			article {
				padding-top: rem(70);
				padding-left: rem(95);
			}
		}
	}

	&__col2 {
		text-align: center;
		@include clearfix;

		.warranty {
			position: relative;
			padding: rem(20);

			svg {
				height: 50px;
			}
		}

		h4 {
			padding-top: rem(15);
			padding-bottom: rem(15);
			font-weight: 700;
		}

		p {
			padding-bottom: rem(15);
		}

		.btn {
			margin-top: rem(16);

			@include breakpoint(md) {
				display: none;
			}
		}

		@include breakpoint(lg) {
			float: left;
			width: 33.33%;
		}
	}

	&__split {
		position: relative;
		padding-bottom: rem(32);

		@include breakpoint(md) {
			float: left;
			width: 50%;
			padding-bottom: 0;
		}

		@include breakpoint(lg) {
			float: none;
			width: 100%;
		}
	}
}

.videoWrap {
	width: 100%;
	text-align: center;

	img {
		display: block;
		width: 100%;
	}

	&__info {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%,-40%);
		z-index: 2;


		.btnPlay {
			position: relative;
			display: block;
			height: rem(80);
			width: rem(80);
			margin: 0 auto rem(10);
			outline: none;
			@include hidetext;

			&:before {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				margin-left: rem(5);
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-left: 25px solid $white;
				box-shadow: 0;
			}

			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				height: rem(80);
				width: rem(80);
				border: 2px solid $white;
				border-radius: 50%;
			}
		}

		h3 {
			color: $white;
			font-weight: 400;
			letter-spacing: rem(2);
			cursor: pointer;
			z-index: 2;
		}
	}

	.videoManual {
			display: block;
			position: absolute;
			width: 100%;
			bottom: 30px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			text-decoration: none;

			span {
				text-decoration: underline;
			}
		}

}