.module3pad {
	padding: rem(50) rem(30) 0;
	border-bottom: 1px solid $light-grey;

	@include breakpoint(md) {
		@include clearfix;
	}

	@include breakpoint(lg) {
		display: table;
	}

	&__article {
		text-align: center;
		padding-bottom: rem(50);
		max-width: rem(640);
		margin-left: auto;
		margin-right: auto;

		h3 {
			font-weight: 400;
		}

		.btn {
			display: none;

			@include breakpoint(md) {
				display: inline-block;
				margin-top: rem(20);
			}
		}

		@include breakpoint(lg) {
			display: table-cell;
			vertical-align: top;
			text-align: left;
			width: 33%;
			padding: rem(47) 7% 0;
		}
	}

	&__list {

		li {
			@include clearfix;
			position: relative;
			min-height: rem(75);
			margin-bottom: rem(30);
		}
		
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}

		article {
			margin-left: rem(90);
		}

		h5 {
			padding-top: rem(3);
			padding-bottom: rem(17);
			font-weight: 700;
		}

		@include breakpoint(md) {
			float: right;
			width: 50%;
			padding-left: 4%;
		}

		@include breakpoint(lg) {
			display: table-cell;
			float: none;
			width: 33%;
			transform: translateX(100%);
			vertical-align: top;
			padding: rem(27) 0 0;
		}

		@include respond(1339px) {
			padding: rem(27) 4%;
		}
	}

	&__img {
		
		img {
			display: block;
			margin: 0 auto;
		}

		@include breakpoint(md) {
			float: left;
			width: 50%;
			padding-right: 4%;
		}

		@include breakpoint(lg) {
			display: table-cell;
			float: none;
			width: 33%;
			transform: translateX(-100%);
			padding: 0;
		}
	}

	&__btn {
		text-align: center;
		margin-bottom: rem(30);

		@include breakpoint(md) {
			display: none;
		}
	}
}