.module3 {
	@include clearfix;
	padding-bottom: rem(40);

	&__col {
		@include breakpoint(md) {
			float: left;
			width: 33.33%;

			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

	&__article {
		text-align: center;
		padding-top: rem(50);
		padding-left: rem(15);
		padding-right: rem(15);
	}

	&__heading {
		padding-bottom: rem(18);
		font-weight: 700;
	}

	&__copy {
		padding-bottom: rem(15);
	}
}

.module3--icon {

	svg {
		width: auto;
		height: 100px;
		display: block;
		margin-top: rem(30);
		margin-left: auto;
		margin-right: auto;
	}

	.module3__article {
		text-align: left;
		padding-left: 15%;
		padding-right: 15%;
	}
}