.module50pad {
	position: relative;

	@include respond(1440px) {
		padding: 0 9.4%;
	}

	@include clearfix;

	&__col6 {
		text-align: center;
		margin-bottom: rem(30);

		@include breakpoint(md) {
			float: left;
			width: 50%;
		}

		&:first-child {
			@include breakpoint(lg) {
				padding-left: rem(70);
				padding-right: rem(15);
			}
		}

		&:last-child {
			@include breakpoint(lg) {
				padding-left: rem(15);
			}
		}
	}

	&__video {
		position: relative;
		text-align: center;
		margin-bottom: rem(32);

		.video__info {
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			color: $white;
			z-index: 2;

				h1 {
				font-size: 2.375rem;

				@include respond(495px) {
					font-size: 4.375rem;
				}
			}
		}

		.btnPlay {
			position: relative;
			display: block;
			height: rem(80);
			width: rem(80);
    		margin: 0 auto;
    		outline: none;
			
    		@include hidetext;
			
			&:before {
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				margin-left: rem(5);
				border-top: 15px solid transparent;
    			border-bottom: 15px solid transparent;
    			border-left: 25px solid $white;
			}
			
    		&:after {
    			position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				height: rem(60);
				width: rem(60);
				border: 2px solid $white;
				border-radius: 50%;
    		}

    		@include respond(495px) {
    			margin: rem(12) auto;

    			&:after {
    				height: rem(80);
					width: rem(80);
    			}
    		}
		}
	}

	//slider container

	.slick--module50pad {
		position: relative;
		padding-left: rem(50);
		padding-right: rem(50);
		margin-bottom: rem(32);

		@include breakpoint(lg) {
			padding: 0 rem(50);
		}
	}

	//arrows

	.slick-next, .slick-prev {
		position: absolute;
		top:0;
		border: 0;
		height: 100%;
		background: none;
		outline: 0;
		cursor: pointer;
		@include hidetext;

		&:after {
			@include Icons;
			position: relative;
			color: $medium-grey;
			font-size: 6.5rem;
			cursor: pointer;
		}
	}
	.slick-next {
		right: 0;

		&:after {
			content: "\f105";
		}
	}

	.slick-prev {
		left: 0;

		&:after {
			content: "\f104";
		}
	}

	//slider items

	&__item {
		position: relative;
		text-align: center;

		@include breakpoint(md) {
			padding-left: rem(10);
			padding-right: rem(10);
		}

		@include breakpoint(lg) {
			padding-left: rem(15);
			padding-right: rem(15);
		}		

		img {
			display: block;
			margin: 0 auto rem(30);
		}
	}

	&__heading {
		@include CoreSansCN-bold;
		padding-bottom: rem(15);
	}

	&__copy {
		padding-bottom: rem(30);
	}
}