.module1 {
	position: relative;
	text-align: center;
}

.module1__img {
	display: block;
	width: 100%;
}

.module1__wrap {
	position: relative;
	width: 100%;
	height: 100%;
	padding: rem(50) rem(20);

	@include breakpoint(lg) {
		position: absolute;
		padding: rem(50) rem(80);
		top: 0;
	}
}

.module1__wrap--overlayMd {
	@include breakpoint(md) {
		position: absolute;
		top: 0;
	}
}

.module1__content {
	position: relative;
	width: 100%;
	height: 100%;
}

.module1__heading {
	letter-spacing: rem(2.7);
	font-weight: 400;
	text-transform: uppercase;

	b {
		@include CoreSansCN-bold;
	}
}

.module1__copy {
	padding-bottom: rem(20);
}

.module1__btns {
	@include breakpoint(md) {
		.btn--nofillblack {
			color: $white;
			border-color: $white;

			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}
}

// modifiers for individual styles 

.module1--iphone6 {
	.module1__heading {
		font-size: rem(24);
		padding-bottom: rem(5);

		@include breakpoint(md) {
			font-size: rem(70);
			color: $white;
			padding-bottom: rem(14);
		}

		@include respond(1380px) {
			letter-spacing: rem(17);
		}
	}

	.dash {
		@include breakpoint(md) {
			display: none;
		}
	}

	.module1__copy {
		@include CoreSansCN;
		letter-spacing: rem(3);

		span {
			display: block;
			visibility: hidden;
			height: 10px;

			@include breakpoint(md) {
				display: inline;
				visibility: visible;
				height: auto;
			}
		}
		
		@include breakpoint(md) {
			color: $white;
		}

		@include respond(1380px) {
			font-size: rem(28);
		}
	}
}

.module1--mtnBikers {
	article {
		@include breakpoint(md) {
			position: absolute;
			right: 0;
			max-width: rem(500);
			color: white;
		}
	}
}

.module1--wakeboarder {
	article {
		@include breakpoint(md) {
			position: absolute;
			top: rem(82);
			right: 0;
		}
	}

	.module1__copy {
		font-size: rem(24);
		letter-spacing: rem(1);
		padding-bottom: rem(35);
	}

	.module1__btns {
		.btn {
			font-weight: 100;
			margin-left: rem(14);
			margin-right: rem(14);
			margin-bottom: rem(5);
		}
	}
}

.module1--case {
	article {
		@include breakpoint(md) {
			max-width: rem(640);
			margin-left: auto;
			margin-right: auto;
			color: $white;
		}

		@include breakpoint(lg) {
			position: absolute;
			right: 0;
		}
	}
}


.module1--roadBiker {
	article {
		@include breakpoint(lg) {
			text-align: left;
			max-width: rem(335);
		}
	}
}

.module1--collage {
	article {
		@include breakpoint(lg) {
			text-align: left;
			color: #fff;
			max-width: rem(290);
		}
	}
}