.module--specs {
	padding: 5% 0;
	line-height: 1.4;
	transition: padding .4s ease;
	position: relative;
	width: 100%;
	display: table;

	.row {
		display: table-row;
	}

	.specs {
		display: table;
		vertical-align: middle;
		margin: 0 auto;

		> div {
			display: table-row;
		}

		&:last-child > div:last-child {
			padding-bottom: 0;
		}
	}

	.title {
		display: block;
		text-align: left;
		@include CoreSans-bold();
	}

	.value {
		display: block;
		text-align: left;
		padding: 0 0 rem(20) 0;
	}

	.device-image {
		display: table-cell;
		display: none;
	}

	@include respond(768px) {
		background-size: cover;
		background-position: center center;
		padding: 0 5%;

		.specs {
			margin: 0;
			display: table-cell;
		}

		.title {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			border-right: 1px solid $black;
			padding: rem(10) rem(10) rem(10) 0;
		}

		.value {
		  display: table-cell;
			vertical-align: middle;
			padding: rem(10) 0 rem(10) rem(10);
		}

		.device-image {
			display: block;

			&.top > img {
				vertical-align: top;
				padding: 0 0 rem(40) 0;
			}

			> img,
			&.bottom > img {
				vertical-align: bottom;
				padding: rem(40) 0 0 0;
			}
		}
	}

	@include respond(1100px) {
		padding-left: 15%;
	}

	@include respond(1440px) {
		padding-left: 20%;
	}
}