.grid1 {
	position: relative;
	text-align: center;
	
	@include breakpoint(md) {
		//padding-bottom: 41.7%;
		//overflow: hidden;
	}
}

.grid1__img {
	img {
		width: 100%;
	}
	
	@include breakpoint(md) {
		img {
			display: none;
		}
		position: relative;
		background: url("../images/hero-bikers-t.jpg") no-repeat;
		background-size: cover;
		padding-bottom: 52.3%;
	}

	@include breakpoint(lg) {
		background: url("../images/hero-bikers-d.jpg") no-repeat;
		background-size: cover;
		padding-bottom: 41.7%;
	}
}

.grid1__content {
	position: relative;
	padding: 20px;

	@include breakpoint(md) {
		position: absolute;
		top: 0;
		right: 0;
  		padding: 40px;
		max-width: 590px;
  		color: $white;
	}

	@include breakpoint(lg) {
		padding: 75px;
		max-width: 725px;
	}

}

.grid1__heading {
	letter-spacing: 5px;

	span {
		font-weight: 300;
	}
}

.grid1__copy {
	padding-top: 10px;
	padding-bottom: 15px;
}

.grid1__btns {
	@include breakpoint(md) {
		.btn--nofillblack {
			color: $white;
			border-color: $white;

			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}
}