.module23 {
	position: relative;
	display: table;
	width: 100%;
	overflow: hidden;

	img + article {
		color: $black;
	}

	> div {
		display: block;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@include breakpoint(md) {
			display: table-cell;
		}
	}
}

.module23--hidden-sm {
	display: none;

	@include breakpoint(md) {
		display: table;
	}
}

.module23__col2 {	
	@include breakpoint(md) {
		width: 33.33%;
		padding-bottom: 41.6%;
	}
}

.module23__col3 {
	@include breakpoint(md) {
		width: 66.66%;
	}
}

.module23__copy {
	text-align: center;
	padding: rem(30);
	color: $white;

	@include breakpoint(md) {
		position: absolute;
		text-align: left;
	}

	h1,h2,h3,h4,h5,h6 {
		position: relative;
		padding-bottom: rem(9);
		margin-bottom: rem(11);
		font-weight: 400;

		&:after {
			content: " ";
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: rem(-6);
			width: rem(12);
			border-bottom: 2px solid #02BBD5;

			@include breakpoint(md) {
			left: 0;
			margin-left: 0;
			}
		}
	}
}

//modifiers for each column, background images, different article placement and color
	

.module23__col2--split {
	@include breakpoint(md) {
		background-image: url("../images/bg-grid23split.jpg");
	}
}

.module23__col3--waves {
	background-image: url("../images/bg-waves.jpg");

	article {
		bottom: 0;
		max-width: 605px;
	}
}

.module23__col2--snowboarder {
	@include breakpoint(md) {
		background-image: url("../images/snowboarder-jump-t.jpg");
	}
}

.module23__col3--snowboarder {
	background-image: url("../images/snowboarder-case-t.jpg");
	padding-bottom: 30%;

	article {
		max-width: 280px;
		text-align: left;
	}
}

.module23__col2--fre {

	@include breakpoint(md) {
		background-image: url("../images/bg-fre-t.jpg");

		img {
			display: none;
		}
	}
}

.module23__col3--fre {

	@include breakpoint(md) {
		background-image: url("../images/bg-fre-profile-t.jpg");

		img {
			display: none;
		}
	}
}