.module1 {
	position: relative;
	text-align: center;
}

.module1__img {
	display: block;
}

.module1__content {
	position: relative;
	padding: rem(20);
}

.module1__content--overlayMd {
	@include breakpoint(md) {
		position: absolute;
		top: 0;

		color: $white;
	}
}

.module1__content--overlayLg {
	@include breakpoint(lg) {
		position: absolute;
		top: 0;
	}
}

.module1__heading {
	letter-spacing: rem(2.7);
	font-weight: 400;
}

.module1__copy {
	padding-top: rem(10);
	padding-bottom: rem(15);
}

.module1__btns {
	@include breakpoint(md) {
		.btn--nofillblack {
			color: $white;
			border-color: $white;

			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}
}