.module23 {
	position: relative;
	display: table;
	width: 100%;
	overflow: hidden;

	article {
		padding: rem(30);
	}

}

.module23__col2 {
	display: block;
	position: relative;

	@include breakpoint(md) {
		display: table-cell;
		width: 33.33%;
		padding-bottom: 41.6%;
	}
}

.module23__col3 {
	position: relative;
	display: block;

	@include breakpoint(md) {
		display: table-cell;
		width: 66.66%;
	}
}

//modifiers for each column, background images, different article placement and color
	

.module23__col2--split {
	@include breakpoint(md) {
		background: url("../images/bg-grid23split.jpg") no-repeat;
		background-size: cover;
	}
}

.module23__col3--waves {
	background: url("../images/bg-waves.jpg") 50% 50% no-repeat;
	background-size: cover;
	vertical-align: bottom;

	article {
		color: $white;

		h2 {
			font-weight: 400;
		}
	}
}

.module23__col2--snowboarder {
	@include breakpoint(md) {
		background: url("../images/snowboarder-jump-t.jpg") no-repeat;
		background-size: cover;
	}
}

.module23__col3--snowboarder {
	background: url("../images/snowboarder-case-t.jpg") 50% no-repeat;
	background-size: cover;

	article {
		color: $white;
		max-width: 49%;

		@include breakpoint(lg) {
			max-width: 31%;
		}
	}
}

.module23__col2--fre {
	text-align: center;

	h3 {
		font-size: rem(24);
	}

	@include breakpoint(md) {
		text-align: left;
		background: url("../images/bg-fre-t.jpg") no-repeat;
		background-size: cover;

		img {
			display: none;
		}

		article {
			position: absolute;
		}
	}
}

.module23__col3--fre {
	text-align: center;

	h3 {
		font-size: rem(24);
	}

	@include breakpoint(md) {
		text-align: left;
		background: url("../images/bg-fre-profile-t.jpg") no-repeat;
		background-size: cover;

		img {
			display: none;
		}

		article {
			position: absolute;
		}
	}
}