section.typography {
	> div {

		@include respond(500px) {
			width: 50%;
			float: left;
		}
	}

	div.fonts {
		h4 {
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
		}
	}

	p {
		margin-bottom: 20px;
	}

	.size {
		font-size: 1rem;
	}

	.core-sans-regular {
		@include CoreSans();
	}

	.core-sans-bold {
		@include CoreSans-bold();
	}

	.core-sans-cn-regular {
		@include CoreSansCN();
	}

	.core-sans-cn-light {
		@include CoreSansCN-light();
	}

	.core-sans-cn-bold {
		@include CoreSansCN-bold();
	}
}
