//mixins
@mixin hover-primary1 {
	background-color: $blue;
	border-color: $blue;
	color: $white;
}

@mixin hover-primary2 {
	background-color: $black;
	border-color: $black;
	color: $white;
}

@mixin hover-primary3 {
	background-color: $aqua;
	border-color: $aqua;
	color: $white;
}

//buttons
.btn {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	@include CoreSansCN;
	font-size: 1.5rem;
	letter-spacing: .188rem;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	transition: .4s;
	border: 1px solid transparent;
	padding: rem(16) rem(20) rem(12);
	background-color: $aqua;
	border-color: $aqua;
	color: $white;
	
	+ .btn {
		margin: rem(5);
	}

	&:hover {
		@include hover-primary1;
	}

	@include breakpoint(md) {
		font-size: $font-size-md;
		padding: rem(14) rem(20) rem(11);
	}
}

//button sizes
.btn--wide {
	padding-left: rem(60);
	padding-right: rem(60);
}

.btn--small {
	padding: rem(12) rem(16) rem(8);

	@include breakpoint(md) {
		font-size: 0.875rem;
	}
}

// button colors

.btn--white {
	background-color: $white;
	border-color: $white;
	color: $black;

	&:hover {
		@include hover-primary2;
	}
}

.btn--black {
	background-color: $black;
	border-color: $black;
	color: $white;

	&:hover {
		@include hover-primary3;
	}
}

.btn--nofillblack {
	background-color: rgba(0,0,0,0);
	border-color: $black;
	color: $black;

	&:hover {
		@include hover-primary2;
	}
}

.btn--nofillwhite {
	background-color: rgba(0,0,0,0);
	border-color: $white;
	color: $white;
}

.btn--transblack {
	background-color: $transblack;
	color: $black;
	border-color: $black;

	&:hover {
		@include hover-primary2;
	}
}

.btn--transwhite {
	background-color: $transblack;
	color: $white;
	border-color: $white;
}