.row {
	display: table;
	position: relative;
	overflow: hidden;
}

.col {
	position: relative;
	display: table-cell;
	vertical-align: top;
	

	img {
		display: block;
	}
}

.col-6 {
	width: 50%;

	&.col-6--center {
		vertical-align: middle;
	}
}

.col-md-4 {
	width: 33.33%;
	
}

.col-md-8 {
	width: 66.66%;
}