.row {
	overflow: hidden;
	display: flex;
}

.col {
	position: relative;
	

	img {
		display: block;
	}
}

.col-md-4 {
	background: blue;
	min-width: 33.33%;
	
}

.col-md-8 {
	min-width: 66.66%;
	background: red url("../images/bg-waves.jpg") no-repeat;
	background-size: cover; 
}