//typography

html {
	font-size: 14px;
	@include respond(768px) {
		font-size: 16px;
	}
}

body {
	@include CoreSans;
	font-size: $font-size;
	color: $black;

	@include breakpoint(md) {
		font-size: $font-size-md;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include CoreSansCN-bold;
	text-transform: uppercase;
}

h1 {
	font-size: rem(70);
}

h2 {
	font-size: rem(45);
}

h3 {
	font-size: rem(28);
}

h4 {
	font-size: rem(24);
}

h5 {
	font-size: rem(20);
}

b, strong {
	font-weight: 700;
}

em, i {
	font-style: oblique;
}

small {
	font-size: 0.625rem;
}

button, input, optgroup, select, textarea {
	font: inherit;
}

//links
a {
	color: $aqua;

	&:hover {
		color: $medium-grey;
	}
}

.link {
	text-decoration: none;
	text-transform: uppercase;
}

.link--arrow {

	&:after {
		@include Icons;
		position: relative;
		content: "\f105";
		margin-left: 4px;
	}
}

.link--arrowCircled {

	&:after {
		@include Icons;
		//font-size: 1.2rem;
		position: relative;
		content: "\e600";
		margin-left: 6px;
		top: 2px;
	}
}

.monospace {
	font-family: monospace;
}

.copy--large {
	font-size: 16px;
}

.copy--medium {
	font-size: 14px;
}

.copy--small {
	font-size: 12px;
}

.copy--copywrite {
	font-size: 10px;
}