.hidden {
	display: none;
}

.hidden--sm {
	display: none;

	@include breakpoint(md) {
		display: inherit;
	}
}

.text--light {
	color: $white;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--lowercase {
	text-transform: lowercase;
}

.block--center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}